/***************/
/* lettertypes */
/***************/

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Variable.ttf");

  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic-Variable.ttf");

  font-style: italic;
}

@font-face {
  font-family: "Bente";
  src: url("../fonts/BodoniModa-Variable.ttf");

  font-style: normal;
}

@font-face {
  font-family: "Bente";
  src: url("../fonts/BodoniModa-Italic-Variable.ttf");

  font-style: italic;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
margin: 2em 0em 1em 2em;
}

p {
  line-height: 1.7em;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

/****************/
/* root kleuren */
/****************/

/* 
  --wit: #fff;
  --beige: #F7F8F2;
  --lichtGrijs: rgb(213, 213, 213);
  --grijs: rgb(187, 187, 187);
  --zwart: #000;
  --rood: rgb(162, 16, 16);
  --achtergrondkleur: #fff; */


:root {
  color-scheme: light dark;

  --wit: light-dark(White, black);
  --beige: light-dark(#F7F8F2, #908d7c);
  --lichtGrijs: light-dark(rgb(213, 213, 213), rgb(143, 143, 143));
  --grijs: light-dark(rgb(187, 187, 187), rgb(98, 97, 97));
  --zwart: light-dark(black, white);
  --rood: light-dark(rgb(162, 16, 16), rgb(192, 75, 75));

}

:root:has([value="auto"]:checked) {
  accent-color: var(--lichtGrijs);
}

:root:has([value="light"]:checked) {
  color-scheme: light;

  accent-color: #908d7c;
}

:root:has([value="dark"]:checked) {
  color-scheme: dark;

  accent-color: var(--wit);

  header img:first-of-type {
    filter: invert(100%);
  }

  main section:nth-of-type(6) summary img {
    filter: invert(100%);
  
  }

}




/***************/
/* header */
/***************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  margin-top: 2em;
  z-index: 2;
}

header>img:first-of-type {
  width: 8em;
  flex-shrink: 0;
  z-index: 3;
}

header nav {
  background-color: var(--wit);
  position: fixed;
  inset: 0;
  padding-left: 2em;

  transition: 0.3s;
  translate: 0 -100%;
}

header ul:last-of-type {
  display: flex;
  gap: 1em;
}


header ul:last-of-type li img {
  width: 1.2em;
  height: auto;
}

header nav ul li a {
  text-decoration: none;
}

header li {
  list-style: none;
}


header a {
  color: var(--zwart);
}

header nav ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.12em;
  text-underline-offset: 0.4em;
}

header nav a.active {
  font-weight: 500;
}



/***************/
/* MENU BUTTON */
/***************/

header button {
  position: relative;
  z-index: 1;
  order: -1;
  background: none;
  border: none;

  align-items: center;
  align-content: center;
  gap: .2em;
  justify-content: center;

  width: 4em;
  height: 4em;

  z-index: 3;
}

header button img {
  width: 1.5em;
  height: 1.5em;

}

button.toonMenu img {
  content: url("../images/kruisje.png");

}


/* als menu open is */
nav.toonMenu {
  translate: 0;
  background-color: var(--wit);
  padding-top: 7em;
  z-index: 2;
}

nav.toonMenu li {
  padding-bottom: 1em;
}


nav.toonMenu ul:last-of-type {
  margin-top: 24em;
}

/* Winkelwagen icoon */
nav.toonMenu li button img {
  padding-bottom: 2em;
}



/*****************/
/* Zoeken header */
/*****************/

header form {
  display: flex;
  padding-bottom: 3em;
  max-width: 100%;
  padding-right: 2em;
  font-family: "Montserrat";


}

header form input {
  padding-left: 2em;
  flex-grow: 1;
  border-top: .075em solid;
  border-bottom: .075em solid;
  border-left: none;
  border-right: none;
  border-radius: 0;
  line-height: 4em;
  border-color: var(--grijs);
}






/****************************************************************/
/* styling voor de header als de browser minimaal 54em breed is */
/****************************************************************/
@media (width > 54em) {
  header button {
    display: none;
  }

  header nav {
    translate: unset;
    position: static;
    display: flex;
  }

  header nav ul {
    display: flex;
    gap: 2em;
    padding-left: 3em;
  }

  header>a:last-of-type,
  nav a {
    flex-direction: row;

  }
}



/*******************************************************************************/
/* styling voor de zoekbalk als de header in de browser minimaal 54em breed is */
/*******************************************************************************/

@media (width > 54em) {
  header form {
    display: none;
  }
}


/****************/
/* Winkelmandje */
/****************/

dialog.show{
  background-color: var(--wit);
  color: var(--zwart);
}

header dialog::backdrop{
  background-color: rgba(255, 255, 255, 0.934);
  backdrop-filter:blur(.5em);
}

html:has(header dialog[open]) {
	overflow:hidden;
	scrollbar-gutter: stable;
}

dialog button.sluiten{
  position: absolute;
  top: 0;
  right: 0;
  width: 4em;

}

/***************/
/* Hidden      */
/***************/

.visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}





/****************************************************************/
/* styling algemeen tekst */
/****************************************************************/

h1,
h2,
h3 {
  margin-bottom: 0.8em;
}


/****************************************************************/
/* button focus en actieve stijl alle knoppen */
/****************************************************************/

button:focus-visible {
  border-style: dotted;
  border-width: .2em;
  border-color: var(--rood);
}

button:active {
  font-weight: 500;
}


/****************************************************************/
/* invoervelden hover */
/****************************************************************/
input:hover {
  border-color: var(--zwart);
}

input:focus-visible {
  border-style: double;
  border-width: .3em;
  border-color: var(--rood);
}


/******************/
/* footer from    */
/******************/

footer>section:nth-of-type(1) {
  margin-top: 2em;
}

footer section:nth-of-type(1) section:nth-of-type(1) p {
  border-top: .075em solid var(--grijs);
  padding-top: 2em;
  margin-bottom: 2em;
}

footer form {
  padding: 0 2em;
}

footer form label {
  display: grid;
}

footer form input {
  border-style: solid;
  border-width: 0.075em;
  border-color: var(--grijs);
  border-radius: 0.75em;
  margin-top: 0.5em;
  line-height: 4em;
}


/************************/
/* Footer summary       */
/************************/

footer section:nth-of-type(2) {
  margin-top: 2em;
}

footer details {
  border-bottom: .075em solid var(--grijs);
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 1em;
}


summary {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;

}

footer details:first-of-type summary img,
footer details:nth-of-type(2) summary img {
  max-height: .7em;
  max-width: 1.3em;

}

footer section:nth-of-type(1) img {
  display: flex;
  width: 2em;
}

details img {
  rotate: 0deg; 
  transition: rotate 0.5s;
}

details[open] img {
  rotate: 180deg;
  transition: .5s;
}


section>details ul li {
  list-style: none;
  padding-bottom: .5em;
}


/*************************/
/* footer social iconen  */
/*************************/


footer section:nth-of-type(3) ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-top: 2em;
  margin-left: 2em;

}


/*************************/
/* soort nav footer      */
/*************************/

footer section:nth-of-type(4) ul {
  display: flex;
  flex-wrap: wrap;

  padding-top: 2em;
  list-style: none;
  gap: 1em;
  padding-left: 2em;
  padding-right: 2em;

}

footer section:nth-of-type(4) ul a {
  text-decoration: none;
}

footer a {
  color: var(--zwart);
}

footer section ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.12em;
  text-underline-offset: 0.4em;
}

footer nav a.active {
  font-weight: 500;
}


/*************************/
/* betaalmogelijkheden   */
/*************************/
footer section:nth-of-type(5) ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-top: 2em;
  margin-left: 2em;
}


/*************************/
/* copyright             */
/*************************/
footer section:nth-of-type(6) p {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.75em;
}


