@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf');
       
     font-style: normal;
   }

* {
	margin: 0em;
	padding: 0em;
	font-family:'Montserrat', sans-serif ;
}

header { 
	display:flex;
	justify-content: space-between;
	align-items: center;
	
}

header img {
	width: 17%;
}

nav {
	order:-1;
	position: absolute;
	inset:0;
	background-color: yellow;

	transition:1s;
	
	translate: -98%;
  }

/* als menu open is */
nav.toonMenu {
	translate: 0;
		
	}


/***************/
/* MENU BUTTON */
/***************/
header button {
	position:relative;
	z-index: 1;
	order:-1;
	
  }
  

  nav.toonMenu button img {
	/* bron kruisje: https://assets.codepen.io/274456/ui-icon-cross.svg */
   content:url("https://assets.codepen.io/274456/ui-icon-cross.svg") 
	
  }
  
  

  
  
  /****************************************************************/
  /* styling voor de header als de browser minimaal 54em breed is */
  /****************************************************************/
  @media (width > 54em) {
	header button {
		display:none;
	}

	header nav {
		translate:unset;
		position: static;
	}

	header nav ul {
		display:flex;
		gap: 2em;
	}

	header > a:last-of-type,
	nav a {
	  flex-direction:row;
	  
	}
  }

  header nav ul li a  {
	text-decoration: none;
  }

  header li {
	  list-style: none;
  }

  /****************************************************************/
  /* styling algemeen tekst */
  /****************************************************************/

h1, h2, h3 {
	margin-bottom: .80em;
}

a {
	color: black;
}



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}







